<template>
    <div 
        :style="{ 'height': height }"
        class="my-1 container"
        v-on:click="(e) => $emit(ev_click)"
    >
        <nuxt-link 
            :to="link" 
            class="container-inner"
        >
            <v-row>
                <v-col
                    cols="2"
                    class="text-center"
                >
                    <v-icon class="containerleft-text">{{ icon }}</v-icon>
                </v-col>

                <v-col
                    cols="10"
                    class="px-0 text-left"
                >
                    <div class="containerright-text">
                        <slot name="body"/>
                    </div>
                </v-col>
            </v-row>
        </nuxt-link>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        icon: {
            type: String,
            default: '',
        },
        link: {
            type: String,
            default: '',
        },
        active: {
            type: Boolean,
            default: false,
        },
        height: {
            type: String,
            default: 'auto',
        },
        ev_click: {
            type: String,
            default: 'ev_click',
        },
    },
})
</script>

<style scoped>
.container {
    width: 100%; 

    border-radius: 5.5px;
    border-bottom: 1px solid var(--v-primary-lighten3);
    border-right: 1px solid var(--v-primary-lighten4);
    border-top: 1px solid var(--v-primary-lighten5);
}
.container-inner {
    width: 100%; 
    height: 100%; 
    
    display: flex; 
    align-items: center; 
    justify-content: center;

    text-decoration: none;
}
.containerleft-text {
    color: var(--v-primary-base);
}
.containerright-text {
    font-family: 'Baloo2-Regular';
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.6px;
    color: var(--v-primary-base);
}
</style>
