<template>
  <v-dialog
    v-model="show_internal"
    hide-overlay
    :width="$vuetify.breakpoint.lgAndUp === true ? '40%' : '80%'"
  >
    <v-alert
      dense
      type="error"
      color="red darken-2"
      class="ma-0"
    >
      <span class="cardright-body-text">
        <slot/>
      </span>
    </v-alert>
  </v-dialog>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
      return {
        show_internal: false
      }
    },

    props: {
        show: {
          // use Date.now() to activate.
          type: Number,
          required: true,
        },
    },

    watch: {
      show: {
        immediate: true,
        handler: function(nv: Number, ov: Number) {
            this.show_internal = true
        },
      },
    }
})
</script>

<style scoped>
.cardright-body-text {
    font-family: 'Baloo2-Regular';
    font-size: 18px;
    color: #FFF;
    text-decoration: none !important;
}
</style>
