<template>
  <v-dialog
    v-model="show_internal"
    hide-overlay
    :width="$vuetify.breakpoint.lgAndUp === true ? '40%' : '80%'"
  >
    <v-card>
      <v-card-title class="card-title-text">
        <slot name="head"/>
      </v-card-title>
      <v-card-text class="card-body-text">
        <slot name="body"/>
      </v-card-text>

      <v-card-actions>
        <v-row no-gutters>
          <v-col class="text-right">
            <v-btn
              color="primary"
              text
              @click="show_internal = !show_internal"
            >
              {{ $t('popup_accecpt') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
      return {
        show_internal: false
      }
    },

    props: {
        show: {
          // use Date.now() to activate.
          type: Number,
          required: true,
        },
    },

    watch: {
      show: {
        immediate: true,
        handler: function(nv: Number, ov: Number) {
            this.show_internal = true
        },
      },
    }
})
</script>

<style scoped>
.card-title-text {
    font-family: 'Baloo2-Regular';
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
.card-body-text {
    font-family: 'Baloo2-Regular';
    font-size: 16px;
    color: #000;
    text-decoration: none;
}
</style>
