<template>
    <div>
        <v-row>
            <v-col 
                cols="9"
                class="text-center"
            >
                <v-row>
                    <v-col
                        cols="6"
                        class="text-left"
                    >
                        <span 
                            v-if="i18n_title !== ''"
                            class="font--headline2 text-left"
                        >
                            {{ $t(i18n_title) }}
                        </span>
                    </v-col>

                    <v-col
                        cols="6"
                        class="pt-4 text-right"
                    >
                        <span 
                            v-if="status === 1"
                            class="font--content2 text-right"
                        >
                            {{ $t('assetsimageset_status_upload') }}
                        </span>
                        <span 
                            v-if="status === 2"
                            class="font--content2 text-right success--text"
                        >
                            {{ $t('assetsimageset_status_success') }}
                        </span>
                        <span 
                            v-if="status === 3"
                            class="font--content2 text-right error--text"
                        >
                            {{ $t('assetsimageset_status_failed') }}
                        </span>
                    </v-col>
                </v-row>


                <div class="mt-3" style="height: 45px;">
                    <v-file-input
                        v-if="status !== 1"
                        :label="$t(i18n_label_upload)"
                        :rules="upload_rules"
                        :prepend-icon="upload_icon"
                        v-model="upload_value"

                        chips
                        show-size
                        counter
                        dense

                        v-on:change="ev_upload_change"
                    ></v-file-input>

                    <v-progress-linear
                        v-if="status === 1"
                        indeterminate
                        color="primary darken-2"
                    ></v-progress-linear>
                </div>
            </v-col>

            <v-col 
                cols="3"
                class="text-right"
            >
                <AssetsImageGet
                    ref="assetsimageget"

                    :name="name"
                    height="80px"
                    skeleton
                >
                </AssetsImageGet>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            // status = 0 => default
            // status = 1 => uploading
            // status = 2 => success
            // status = 3 => error
            status: 0,
            upload_value: null as File | null,
        }
    },

    props: {
        name: {
            type: String,
            required: true,
        },
        i18n_title: {
            type: String,
            default: 'assetsimageset_title',
        },
        upload_icon: {
            type: String,
            default: 'mdi-image',
        },
        i18n_label_upload : {
            type: String,
            default: 'assetsimageset_label_upload',
        },
        upload_rules: {
            type: Array,
            default: () => [],
        },
    },

    methods: {
        async ev_upload_change() {
            if(this.upload_value === null) {
                return
            }

            this.status = 1
            this.$tsmapi.content().ContentSet(this.name, "assets-image", {
                data: await this.$tsmapi.file().FileUpload(this.upload_value!)
            } as IModelContentPayload)
            .then((e) => {
                this.status = 2;
                (this.$refs.assetsimageget as any).$fetch();
            })
            .catch(() => {
                this.status = 3
            })
        },
    },
})
</script>

<style scoped>

</style>
