<template>
    <div
        class="mt-6"
    >
        <v-row
            align="center"
        >
            <v-col
                cols="3"
                class="text-center"
            >
                <div
                    class="color-corner"
                    :style="{ 'background': data }"
                >
                    &nbsp;
                </div>
            </v-col>

            <v-col
                cols="9"
                class="text-left"
            >
                {{ data }}
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            data: '',
        }
    },

    props: {
        name: {
            type: String,
            required: true,
        },
        width: {
            type: String,
            default: 'auto',
        },
        height: {
            type: String,
            default: 'auto',
        },
    },

    async fetch() {
        this.data = '#000000'
        this.$tsmapi.content().ContentGet(this.name, 'assets-text')
        .then((e) => {
            this.data = e.response?.content! || '#000000'
        })
        .catch((e) => {
            // silent
        })
    },
})
</script>

<style scoped>
.color-corner {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    display: inline-block;
}
</style>
