<template>
    <LoadingCircle>
        <p class="font--headline1">{{ $t('loadingprocess_upload') }}</p>
        <p class="font--content1">{{ $t('loadingprocess_upload_item') }} {{ tx_citem }} / {{ tx_items }}</p>
    </LoadingCircle>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        tx_citem: {
            type: String,
            required: true,
        },
        tx_items: {
            type: String,
            required: true,
        },
    }
})
</script>

<style scoped>
.container {
    text-align: center;
}
.container-text {
    font-family: 'Baloo2-Regular';
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
</style>
