<template>
    <div class="container">
        <v-progress-circular
            :size="70"
            :width="7"
            color="primary"
            indeterminate
        ></v-progress-circular>

        <v-divider class="my-6"></v-divider>
        
        <span class="container-text">
            <slot>
                {{ $t("loadingcircle_loading") }}
            </slot>
        </span>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({

})
</script>

<style scoped>
.container {
  text-align: center;
}
.container-text {
  font-family: 'Baloo2-Regular';
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
</style>
