<template>
    <v-form 
        ref="form"
    >
        <v-row
            v-if="subject_enable === true"
            align="center"
            class="my-0 py-0"
        >
            <v-col
                class="my-0 py-0"
            >
                <EditorSubject
                    ref="editorsubject"
                    :subject_value="subject_value"
                    :subject_icon="subject_icon"
                    :subject_rules="subject_rules"
                    :subject_i18ntag="subject_i18ntag"
                >
                </EditorSubject>
            </v-col>
        </v-row>

        <v-row
            v-if="content_enable === true"
            align="center"
            class="my-0 py-0"
        >
            <v-col
                class="my-4 py-0"
            >
                <EditorContent
                    ref="editorcontent"
                    :content_value="content_value"
                >
                </EditorContent>
            </v-col>
        </v-row>
        
        <v-row 
            align="center"
            class="my-0 py-0"
        >
            <v-col 
                cols="12" xs="12" sm="12" md="9"
                class="my-0 py-0"
            >
                <EditorUpload
                    v-if="upload_enable === true"
                    ref="editorupload"
                    :upload_icon="upload_icon"
                    :upload_rules="upload_rules"
                    :upload_i18ntag="upload_i18ntag"
                ></EditorUpload>
            </v-col>

            <v-col 
                cols="12" xs="12" sm="12" md="3"
                class="my-0 py-0"
            >
                <EditorSubmit
                    :submit_i18ntag="submit_i18ntag"
                    v-on:ev_editorsubmit_submit="ev_editorsubmit_submit"
                >
                </EditorSubmit>
            </v-col>
        </v-row>
    </v-form>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContent, IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    props: {
        subject_enable: {
            type: Boolean,
            default: true,
        },
        subject_value: {
            type: String,
            default: '',
        },
        subject_icon: {
            type: String,
            default: 'mdi-text',
        },
        subject_rules: {
            type: Array,
            default: () => [],
        },
        subject_i18ntag: {
            type: String,
            default: 'genericinlineeditor__subject',
        },

        content_enable: {
            type: Boolean,
            default: true,
        },
        content_value: {
            type: String,
            default: '',
        },

        upload_enable: {
            type: Boolean,
            default: true,
        },
        upload_icon: {
            type: String,
            default: 'mdi-camera',
        },
        upload_rules: {
            type: Array,
            default: () => [],
        },
        upload_i18ntag: {
            type: String,
            default: 'genericinlineeditor__upload',
        },

        submit_i18ntag: {
            type: String,
            default: 'genericinlineeditor__submit',
        },
    },

    methods: {
        async ev_editorsubmit_submit(): Promise<void> {
            
            this.$emit("ev_editor_submit", {
                subject: (this.$refs.editorsubject as any)?.subject__value || null,
                content_html: (this.$refs.editorcontent as any)?.content_html || null,
                content_data: (this.$refs.editorcontent as any)?.content_data || null,
                upload: (this.$refs.editorupload as any)?.upload__value || [],
            })
        },
    },
})
</script>

<style scoped>

</style>
