<template>
    <v-file-input
        :label="$t(upload_i18ntag)"
        :rules="upload_rules"
        :prepend-icon="upload_icon"
        v-model="upload__value"

        chips
        show-size
        counter
        multiple

        class="my-0 py-0"
    ></v-file-input>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import Quill from 'quill'
import { RndGen } from '~/tsmodules/rndgen'
import { IModelContent, IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            upload__value: null as string | null,
        }
    },

    props: {
        upload_icon: {
            type: String,
            default: 'mdi-camera',
        },
        upload_rules: {
            type: Array,
            default: () => [],
        },
        upload_i18ntag: {
            type: String,
            default: 'genericinlineeditor__upload',
        },
    },

    computed: {
        value_files(): string | null {
            return this.upload__value
        },
    },
})
</script>

<style scoped>
.editor-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.editor-instance > h1 {
    font-family: 'Baloo2-SemiBold';
    font-size: 20px;
    letter-spacing: 1.4px;
}
.editor-instance > h2 {
    font-family: 'Baloo2-Regular';
    font-size: 18px;
}
.editor-instance > h3 {
    font-family: 'Baloo2-Regular';
    font-size: 16px;
}
.editor-instance > p, .editor-instance > p *, .editor-instance > ul * {
    font-size: 16px;
}
.button-submit {
    font-family: 'Baloo2-Regular';
    font-size: 18px;
    color: #000;
    text-decoration: none !important;
}
</style>
