<template>
    <Editor
        :subject_enable="false"

        :content_enable="true"
        :content_value="get_edit"
        
        :upload_enable="false"

        v-on:ev_editor_submit="ev_editor_submit"
    >
    </Editor>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContent, IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            data: {} as IModelContent,
        }
    },

    props: {
        name: {
            type: String,
            required: true,
        },
        lang: {
            type: String,
            required: false,
        },
    },

    watch: {
        lang: {
            deep: true,
            handler: function(nv: string, ov: string) {
                this.$fetch()
            },
        },
    },

    computed: {
        get_edit(): string {
            return this.data?.payload?.data || ''
        },
    },

    async fetch() {
        await this.$tsmapi.content().ContentGet(this.name + "___edit", this.lang)
        .then((e) => {
            this.data = e
        })
        .catch((e) => {
            // silent
        })
    },

    methods: {
        ev_editor_submit(data: { content_html: string, content_data: string }): void {
            Promise.all([
                this.$tsmapi.content().ContentSet(this.name + "___edit", this.lang, { data: data.content_data } as IModelContentPayload),
                this.$tsmapi.content().ContentSet(this.name + "___html", this.lang, { data: data.content_html } as IModelContentPayload),
            ])
            .then((e) => {
                
            })
            .catch((e) => {
                // silent
            })
        },
    },
})
</script>

<style scoped>

</style>
