<template>
    <div>
        <Sitenav :items="[
            {text: $t('sitenav_label_mgmt'), href: '/mgmt'}, 
            {text: $t('sitenav_label_settings'), href: '' },
            {text: $t('sitenav_label_customization'), href: '/mgmt/settings/customization'},
        ]"
        >
        </Sitenav>
        
        <v-row justify="center">
            <v-col cols="12" xs="12" sm="12" md="12" lg="10" xl="10" class="text-left">
                <v-row>
                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                        <AssetsTextSet
                            name="title01"
                            i18n_title="pmgmtsettings_label_title1"
                        >
                        </AssetsTextSet>
                    </v-col>

                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                        <AssetsTextSet
                            name="title02"
                            i18n_title="pmgmtsettings_label_title2"
                        >
                        </AssetsTextSet>
                    </v-col>
                </v-row>

                <v-divider class="my-5" />

                <v-row>
                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                        <AssetsImageSet
                            name="logolarge"
                            i18n_title="pmgmtsettings_label_logolarge"
                        >
                        </AssetsImageSet>
                    </v-col>
                </v-row>

                <v-divider class="my-5" />

                <!--
                <v-row>
                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                        <AssetsColorSet
                            name="color01"
                            i18n_title="Farbe1"
                        >
                        </AssetsColorSet>
                    </v-col>
                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                        <AssetsColorSet
                            name="color02"
                            i18n_title="Farbe2"
                        >
                        </AssetsColorSet>
                    </v-col>
                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                        <AssetsColorSet
                            name="color03"
                            i18n_title="Farbe3"
                        >
                        </AssetsColorSet>
                    </v-col>
                </v-row>
                -->                
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Sitenav from '~/components/sitenav/Sitenav.vue'
export default Vue.extend({
  components: { Sitenav },
    data() {
        return {
            lang: '',
        }
    },
})
</script>

<style scoped>

</style>
