<template>

</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    mounted() {
        this.$router.push("/user/case/caseshow")
    }
})
</script>

<style scoped>

</style>
