<template>
    <v-row>
        <v-col cols="12" sm="12" md="6" :class="{'text-left': $vuetify.breakpoint.sm, 'text-right': $vuetify.breakpoint.mdAndUp}">
            <v-btn-toggle
                class="ma-2"
                dense
                mandatory
                active-class="orange"
                :value="state_selector"
            >
                <v-btn
                    dark
                    :loading="state_is_opened_loading === true"
                    @click="ev_casestate__open"
                >
                    <v-icon left>mdi-lock-open-variant</v-icon>
                    {{ $t('casestate_label_isopen') }}
                </v-btn>
                <v-btn
                    dark
                    :loading="state_is_closed_loading === true"
                    @click="ev_casestate__close"
                >
                    <v-icon left>mdi-lock</v-icon>
                    {{ $t('casestate_label_isclosed') }}
                </v-btn>
                <v-btn
                    dark
                    :loading="state_is_archived_loading === true"
                    @click="ev_casestate_archive"
                >
                    <v-icon left>mdi-lock-check</v-icon>
                    {{ $t('casestate_label_isarchived') }}
                </v-btn>
            </v-btn-toggle>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            state_value: '' as string,
        }
    },

    props: {
        state: {
            type: String,
            required: true,
        },
    }, 

    watch: {
        state: {
            immediate: true,
            handler: function(nv: string, ov: string) {
                this.state_value = nv;
            },
        },
    },

    computed: {
        state_selector(): number {
            if(this.state_is_opened === true) {
                return 0
            }
            if(this.state_is_closed === true) {
                return 1
            }
            if(this.state_is_archived === true) {
                return 2
            }
            return -1
        },
        state_is_opened(): boolean {
            return this.state_value.startsWith('o')
        },
        state_is_closed(): boolean {
            return this.state_value.startsWith('c')
        },
        state_is_archived(): boolean {
            return this.state_value.startsWith('a')
        },
    },

    methods: {
        ev_casestate_open() {
            this.$emit('ev_casestate_open')
        },
        ev_casestate_close() {
            this.$emit('ev_casestate_close');
        },
        ev_casestate_archive() {
            this.$emit('ev_casestate_archive');
        },
    },
})
</script>

<style scoped>

</style>
