<template>
    <div :class="{'mb-6': filterbar_journals_value.length !== 0 && filterbar_messages_value !== 0}">
        <template
            v-if="filterbar === true"
        >
            <v-row
                justify="end"
            >
                <v-col 
                    cols="12"
                    class="text-right"
                >
                    <v-btn
                        tile
                        :color="filterbar_messages_value === true ? 'enabled' : 'disabled'"
                        @click.native="filterbar_messages_value = !filterbar_messages_value"
                    >
                        <v-icon left>
                            mdi-chat
                        </v-icon>
                        {{ $t('dialog_button_messages') }}
                    </v-btn>

                    <v-btn
                        tile
                        :color="filterbar_journals_value === true ? 'enabled' : 'disabled'"
                        @click.native="filterbar_journals_value = !filterbar_journals_value"
                    >
                        <v-icon left>
                            mdi-ribbon
                        </v-icon>
                        {{ $t('dialog_button_journals') }}
                    </v-btn>

                </v-col>
            </v-row>

            <v-divider class="my-3" />
        </template>

        <v-timeline
            dense
            v-if="(messages.length !== 0 || journals.length !== 0) && (filterbar_messages_value !== false || filterbar_journals_value !== false)"
            align-top
        >
            <template v-for="d in data">
                <DialogMessage 
                    v-if="d.modeltype === 'message'" 
                    :ref_case="ref_case" 
                    :message="d" 
                    :key="d.id"
                >
                </DialogMessage>
                <DialogJournal 
                    v-if="d.modeltype === 'journal'" 
                    :ref_case="ref_case" 
                    :journal="d" 
                    :key="d.id"
                >
                </DialogJournal>
            </template>
        </v-timeline>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelJournal } from '~/tsmodules/api/journal/models'
import { IModelMessage } from '~/tsmodules/api/message/models'

export default Vue.extend({
    data() {
        return {
            messages: [] as Array<IModelMessage>,
            journals: [] as Array<IModelJournal>,

            filterbar_messages_value: false,
            filterbar_journals_value: false,
        }
    },

    props: {
        ref_case: {
            type: String,
            required: true,
        },
        filterbar: {
            type: Boolean,
            default: false,
        },
        filterbar_messages: {
            type: Boolean,
            default: true,
        },
        filterbar_journals: {
            type: Boolean,
            default: false,
        },
    },

    watch: {
        filterbar_messages: {
            immediate: true,
            handler: function(nv: boolean, ov: boolean) {
                this.filterbar_messages_value = nv;
            },
        },
        filterbar_journals: {
            immediate: true,
            handler: function(nv: boolean, ov: boolean) {
                this.filterbar_journals_value = nv;
            },
        },
    },

    computed: {
        data(): Array<IModelMessage | IModelJournal> {
            var rtvl: Array<IModelJournal | IModelJournal> = []

            if(this.filterbar_messages_value === true) {
                rtvl = rtvl.concat(this.messages)
            }
            if(this.filterbar_journals_value === true) {
                rtvl = rtvl.concat(this.journals)
            }

            return rtvl.sort((x, y) => (x.response.creationDate! > y.response.creationDate!) ? 1 : -1)
        },
    },

    async fetch() {
        Promise.all([
            this.$tsmapi.message().MessageGetAll(this.ref_case, true),
            this.$tsmapi.journal().JournalGetAll(this.ref_case),
        ])
        .then((e) => {
            this.messages = e[0]
            this.journals = e[1]
        })
        .catch((e) => {
            // silent
        })
    },
})
</script>

<style scoped>

</style>
