<template>
    <v-timeline-item
        class="mb-4"
        small
    >
        <v-row 
            dense 
        >
            <v-col 
                cols="12" 
                sm="12" 
                md="3" 
                class="text-left"
            >
                <v-row
                    dense
                >
                    <v-col 
                        cols="12" 
                        sm="12" 
                        md="5" 
                        class="text-left"
                    >
                        <v-chip
                            class="mx-2"
                            color="purple"
                            outlined
                            small
                            label
                        >
                            {{ get_category }}
                        </v-chip>
                    </v-col>

                    <v-col 
                        cols="12" 
                        sm="12" 
                        md="7" 
                        class="px-4 text-left"
                    >
                        <small>{{ get_time }} {{ get_date }}</small>
                    </v-col>
                </v-row>
            </v-col>

            <v-col 
                cols="12" 
                sm="12" 
                md="9" 
                class="px-4 text-left"
            >
                <span>
                    {{ get_message }}
                </span>
            </v-col>
        </v-row>
    </v-timeline-item>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { Template } from '~/tsmodules/template'
import { IModelJournal } from '~/tsmodules/api/journal/models'

export default Vue.extend({
    props: {
        ref_case: {
            type: String,
            required: true,
        },
        journal: {
            type: Object as PropType<IModelJournal>,
            required: true,
        }
    },

    computed: {
        get_category(): string {
            if(this.journal.response.code !== null && this.journal.response.code! > 100 && this.journal.response.code! < 200) {
                return this.$t('dialogjournal_category_user').toString()
            }
            if(this.journal.response.code !== null && this.journal.response.code! > 200 && this.journal.response.code! < 300) {
                return this.$t('dialogjournal_category_mgmt').toString()
            }
            if(this.journal.response.code !== null && this.journal.response.code! > 300 && this.journal.response.code! < 400) {
                return this.$t('dialogjournal_category_case').toString()
            }
            if(this.journal.response.code !== null && this.journal.response.code! > 500 && this.journal.response.code! < 600) {
                return this.$t('dialogjournal_category_auth').toString()
            }
            return 'undefined'
        },
        get_message(): string {
            var ctx = {
                case: {
                    id: this.ref_case, 
                },
            }

            if(this.journal.response.code !== null && this.journal.response.code! > 100 && this.journal.response.code! < 200) {
                return new Template().RenderTemplate(this.$t('dialogjournal_category_user_' + this.journal.response.code).toString(), ctx)
            }
            if(this.journal.response.code !== null && this.journal.response.code! > 200 && this.journal.response.code! < 300) {
                return new Template().RenderTemplate(this.$t('dialogjournal_category_mgmt_' + this.journal.response.code).toString(), ctx)
            }
            if(this.journal.response.code !== null && this.journal.response.code! > 300 && this.journal.response.code! < 400) {
                return new Template().RenderTemplate(this.$t('dialogjournal_category_case_' + this.journal.response.code).toString(), ctx)
            }
            if(this.journal.response.code !== null && this.journal.response.code! > 500 && this.journal.response.code! < 600) {
                return new Template().RenderTemplate(this.$t('dialogjournal_category_auth_' + this.journal.response.code).toString(), ctx)
            }
            return 'undefined'
        },
        get_date(): string {
            return new Date(this.journal.response.creationDate || '').toLocaleDateString("de-DE")
        },
        get_time(): string {
            return new Date(this.journal.response.creationDate || '').toLocaleTimeString("de-DE")
        }
    },
})
</script>

<style scoped>

</style>
