<template>
    <v-row>
        <v-col>
            <v-form 
                ref="formnc"
                v-model="form_valid"
                @submit.prevent="submit"
            >
                <v-text-field
                    :label="$t('loginusernc_label_password')"
                    :rules="password1_rules.concat([value => !!value && value === password2_value || this.$t('loginusernc_rules_password_match')])"
                    hide-details="auto"
                    prepend-icon="mdi-lock"
                    :type="password1_show ? 'text' : 'password'"
                    :append-icon="password1_show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="password1_show = !password1_show"
                    @keyup.enter.prevent="submit"
                    @keyup="() => $refs.formnc.validate()"
                    v-model="password1_value"
                    tabindex="100"
                ></v-text-field>

                <v-text-field
                    :label="$t('loginusernc_label_passwordrepeat')"
                    :rules="password2_rules.concat([value => !!value && value === password1_value || this.$t('loginusernc_rules_password_match')])"
                    hide-details="auto"
                    prepend-icon="mdi-lock"
                    :type="password2_show ? 'text' : 'password'"
                    :append-icon="password2_show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="password2_show = !password2_show"
                    @keyup.enter.prevent="submit"
                    @keyup="() => $refs.formnc.validate()"
                    v-model="password2_value"
                    tabindex="101"
                ></v-text-field>

                <v-checkbox
                    :label="$t('loginusernc_label_consent')"
                    :rules="ackconsent_rules"
                    hide-details="auto"
                    prepend-icon="mdi-scale-balance"
                    @keyup.enter.prevent="submit"
                    v-model="ackconsent_value"
                    tabindex="102"
                >
                    <template v-slot:label>
                        <span>
                            {{ $t('loginusernc_label_consent') }}
                            <nuxt-link
                                to="/consent"
                                class="text-decoration-none"
                            >
                                {{ $t('loginusernc_label_consentref') }}
                            </nuxt-link>
                        </span>
                    </template>
                </v-checkbox>

                <v-alert
                    v-if="error_value"
                    dense
                    outlined
                    type="error"
                    class="my-3"
                >
                    {{ error_value }}
                </v-alert>

                <div class="text-right">
                    <v-btn
                        elevation="2"
                        @click="submit"
                        class="my-6"
                    >
                        {{ $t('loginusernc_label_login') }}
                    </v-btn>
                </div>
            </v-form>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            form_valid: false,

            password1_show: false,
            password1_value: '',
            password1_rules: [
                (value: string) => !!value || this.$t('loginusernc_rules_password_required'),
                (value: string) => (value && value.length >= 8) || this.$t('loginusernc_rules_password_length').toString().replace('{{ num_chars }}', '8'),
            ],

            password2_show: false,
            password2_value: '',
            password2_rules: [
                (value: string) => !!value || this.$t('loginusernc_rules_password_required'),
                (value: string) => (value && value.length >= 8) || this.$t('loginusernc_rules_password_length').toString().replace('{{ num_chars }}', '8'),
            ],

            ackconsent_value: false,
            ackconsent_rules: [
                (value: boolean) => value !== false || this.$t('loginusernc_rules_consent_accept'),
            ],

            error_value: '',
        }
    },

    methods: {
        submit() {
            (this.$refs.formnc as any).validate()
            if(this.form_valid === false) {
                return
            }

            // emit :: submit
            this.$emit("ev_login_submit")

            this.$tsmapi.authuser().AuthUserLogin('anonym', this.password1_value, false)
            .then((e) => {
                if(e !== null) {
                    // emit :: submit :: success
                    this.$emit("ev_login_submit_success");
                }
                if(e === null) {
                    // this.error_value = this.$t('loginusernc_error_login').toString();
                }
            })
            .catch(() => {
                // this.error_value = this.$t('loginusernc_error_login').toString();
                this.$emit("ev_login_submit_failure");
            })
            .finally(() => {
                this.password1_value = '';
                this.password1_show = false;
                this.password2_value = ''; 
                this.password2_show = false;
                this.ackconsent_value = false;
                (this.$refs.formnc as any).reset();
            })
        }
    },
})
</script>

<style scoped>

</style>
